<body class="container-principal">
  <aside>
  <!-- Menu a direita com titulo logo e lista-->
  <div class="side-menu">
      <h1 id="top-menu">SLACA 2019</h1>
      <div class="logo">
          <img src="../assets/dewey4.png" alt="Logo"/>
      </div>
      <div class="container-menu">
          <ul>
              <li>
                  <a href="#">
                      <div class="line"></div>
                      <div class="text">Apresentação</div>
                  </a>
              </li>
              <li>
                  <a href="#">
                      <div class="line"></div>
                      <div class="text">Comitês</div>
                  </a>
              </li>
              <li>
                  <a href="#">
                      <div class="line"></div>
                      <div class="text">Autores</div>
                  </a>
              </li>
              <li>
                  <a href="#">
                      <div class="line"></div>
                      <div class="text">Eixos temáticos</div>
                  </a>
              </li>
              <li>
                  <a href="#">
                      <div class="line"></div>
                      <div class="text">Trabalhos</div>
                  </a>
              </li>
              <li>
                  <a href="#">
                      <div class="line"></div>
                      <div class="text">Contato</div>
                  </a>
              </li>
          </ul>
      </div>
  </div>
  </aside>
  <div class="main-content">
    <header class="header">
      <div class="texto-header">
      <h2 class="subtitle">Anais do Simpósio Latino Americano de Ciências de Alimentos </h2>
      <h1 class="title">Anais do 13º Simpósio Latino Americano de Ciência de Alimentos </h1>
      <p class="subtitle">ISSN: 1234-5678</p>
      </div>
      <img class="idiomas" src="../assets/botão - idiomas.svg" alt="idiomas"/>
      <img class="login-img" src="../assets/login.png" alt="login"/>
    </header>

    <main>
     
    </main>
  </div>
</body>